.divContador{
    background-color: aquamarine;
    width: 20%;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.inputContador{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.botonResetear{
    display: block;
    margin: auto;
    margin-top: 5px;
}